@{
    ViewData["Title"] = "Contacto";
}
<h1>Contacto</h1>
<form>
    <label>Email:</label>
    <input type="email" name="email" />
    <br />
    <label>Mensaje:</label>
    <textarea name="mensaje"></textarea>
    <br />
    <button type="submit">Enviar</button>
</form>
