@{
    ViewData["Title"] = "Inicio";
}

<h2>Bienvenido</h2>

<p>
    <a asp-controller="RegistroEstudiantesController" asp-action="RegistroEstudiantes"
       class="btn btn-success btn-lg btn-block">
        Registrar Estudiante
    </a>
</p>

<p>
    <a asp-controller="RegistroEstudiantes" asp-action="Index"
       class="btn btn-primary btn-lg btn-block">
        Ver Lista de Estudiantes
    </a>
</p>