@{
    ViewData["Title"] = "Buscar Estudiante";
}

<h2>Buscar Estudiante</h2>
<form>
    <label>Nombre:</label>
    <input type="text" name="nombre" class="form-control mb-3" />
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
