@{
    ViewData["Title"] = "Editar Estudiante";
}

<h2>Editar Estudiante</h2>
<form>
    <label>Nombre:</label>
    <input type="text" name="nombre" class="form-control mb-3" value="Nombre de ejemplo" />

    <label>Edad:</label>
    <input type="number" name="edad" class="form-control mb-3" value="20" />

    <button type="submit" class="btn btn-warning">Guardar Cambios</button>
</form>
